/* ./styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins";
}

p,
span,
a {
  font-family: "Lato";
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.bucket-gradient {
  background: rgb(177, 251, 215, 0.6);
  background: radial-gradient(
    circle,
    rgba(177, 251, 215, 0.6) 0%,
    rgba(132, 217, 233, 0.6) 37%,
    rgba(144, 84, 213, 0.6) 100%
  );
}
.blur-box {
  // background: rgb(255, 255, 255, 0.8);
  box-shadow: 0 0 10px 20px rgb(255, 255, 255, 0.6);
}
.blur-box-sm {
  // background: rgb(255, 255, 255, 0.8);
  box-shadow: 0 0 5px 10px rgb(255, 255, 255, 0.6);
}

.text-gradient:hover {
  background: linear-gradient(
    rgba(177, 251, 215, 1) 0%,
    rgba(132, 217, 233, 1) 10%,
    rgba(144, 84, 213, 1) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

// BACKGROUND
.background {
  position: absolute;
  width: 100vw;
  // height: 100vh;
  z-index: 0;
  overflow-x: hidden;
}

.foreground {
  position: absolute;
  height: 100%;
  width: 100vw;
  z-index: 1;
  background-color: rgb(255, 255, 255, 0.8);
  overflow-x: hidden;
  transform: translate3d(0, 0, 200px);
}

$particleSize: 30vmin;
$animationDuration: 500s;
$amount: 20;
.background span {
  width: $particleSize;
  height: $particleSize;
  border-radius: $particleSize;
  backface-visibility: hidden;
  position: absolute;
  animation-name: move;
  animation-duration: $animationDuration;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  // $colors: (#583c87, #e45a84, #ffacac);
  $colors: (rgb(123, 84, 213), rgb(132, 217, 233), rgb(177, 251, 215));
  @for $i from 1 through $amount {
    &:nth-child(#{$i}) {
      color: nth($colors, random(length($colors)));
      top: random(100) * 1%;
      left: random(100) * 1%;
      animation-duration: (random($animationDuration * 10) / 10) * 1s + 10s;
      animation-delay: random(($animationDuration + 10s) * 10) / 10 * -1s;
      transform-origin: (random(50) - 25) * 1vw (random(50) - 25) * 1vh;
      $blurRadius: (random() + 0.5) * $particleSize * 0.5;
      $x: if(random() > 0.5, -1, 1);
      box-shadow: ($particleSize * 2 * $x) 0 $blurRadius currentColor;
    }
  }
}

@keyframes move {
  100% {
    transform: translate3d(0, 0, 1px) rotate(360deg);
  }
}

.marquee-container {
  height: 30px;
  overflow: hidden;
  line-height: 30px;

  .marquee {
    top: 0;
    left: 100%;
    width: 100%;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    animation: marquee 10s linear infinite;
  }

  .marquee2 {
    animation-delay: 5s;
  }
  b {
    padding-left: 10px;
  }
}

@keyframes marquee {
  0% {
    left: 100%;
  }
  100% {
    left: -100%;
  }
}

// Image

.image-wrapper {
  margin-bottom: 100px;
}
.image-container {
  // width: 100%;
  // width: 200px;
  height: 500px;
  width: 635px;
  position: relative;
  // z-index:2;
  > div {
    position: unset !important;
  }

  // .image {
  //   object-fit: contain;
  //   width: 100% !important;
  //   position: relative !important;
  //   height: unset !important;
  // }
}

.image-container-2 {
  height: 250px;
  width: 266px;
  position: absolute;
  bottom: -100px;

  right: 0;
  > div {
    position: unset !important;
  }
}

.shadow-bg {
  position: fixed;
  width: 100%;
  z-index: 1;
  pointer-events: none;
  bottom: 0;
  left: 0;
  // background: linear-gradient(180deg, transparent, #e0b0ff);
  background: linear-gradient(180deg, transparent, rgba(177, 251, 215, 0.7));

  opacity: 0.5;
  height: 150px;
}

// fade in
.fade-in-section-bottom {
  opacity: 0;
  transform: translateY(5vh);
  visibility: hidden;
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
  will-change: opacity, visibility;
}

.fade-in-section-bottom.is-visible {
  opacity: 1;
  transform: none;
  visibility: visible;
}

.fade-in-section-top {
  opacity: 0;
  transform: translateY(-5vh);
  visibility: hidden;
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
  will-change: opacity, visibility;
}

.fade-in-section-top.is-visible {
  opacity: 1;
  transform: none;
  visibility: visible;
}

.fade-in-section-left {
  opacity: 0;
  transform: translateX(-5vh);
  visibility: hidden;
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
  will-change: opacity, visibility;
}

.fade-in-section-left.is-visible {
  opacity: 1;
  transform: none;
  visibility: visible;
}

.fade-in-section-right {
  opacity: 0;
  transform: translateX(5vh);
  visibility: hidden;
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
  will-change: opacity, visibility;
}

.fade-in-section-right.is-visible {
  opacity: 1;
  transform: none;
  visibility: visible;
}

// coins
.coin-wrapper {
  position: relative;
  height: 150px;
  width: 300px;
}

.coin-1 {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 100;
  animation: MoveUpDown-1 3s linear infinite;
}
.coin-2 {
  position: absolute;
  left: 30px;
  text-align: center;
  z-index: 101;
  animation: MoveUpDown-2 5s linear infinite;
}

.coin-3 {
  position: absolute;
  right: 30px;
  text-align: center;
  z-index: 101;
  animation: MoveUpDown-3 5s linear infinite;
}

// move up and down

.object-to-move {
  animation: MoveUpDown 5s linear infinite;
}

@keyframes MoveUpDown-1 {
  0%,
  100% {
    bottom: -30px;
  }
  50% {
    bottom: -50px;
  }
}
@keyframes MoveUpDown-2 {
  0%,
  100% {
    bottom: 30px;
  }
  50% {
    bottom: 50px;
  }
}
@keyframes MoveUpDown-3 {
  0%,
  100% {
    bottom: 50px;
  }
  50% {
    bottom: 70px;
  }
}
// BUTTON

.cta--button {
  // background: rgba(0, 0, 0, 0)
  //   linear-gradient(270deg, rgb(171, 102, 255) 0%, rgb(20, 241, 149) 101.39%)
  //   repeat scroll 0% 0%;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  cursor: pointer;
}

.cta--button:hover {
  -webkit-transform: translate(0px, -0.2em);
  -ms-transform: translate(0px, -0.2em);
  transform: translate(0px, -0.2em);
  background: rgba(0, 0, 0, 0)
    linear-gradient(270deg, rgb(171, 102, 255) 0%, rgb(20, 241, 149) 101.39%)
    repeat scroll 0% 0%;
  color: white;

  span {
    background-color: transparent;
    color: #fff;
    transition: all 250ms ease-out;
  }
}

/* WALLET BUTTON */
.wallet-adapter-button--main .wallet-adapter-button {
  font-family: "Poppins", sans-serif, -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif !important;
  // background-color: white !important;
  // border: solid 1px black !important;
  color: black !important;
  cursor: pointer;
  display: flex;
  align-items: center !important;
  font-size: 18px !important;
  font-weight: 600;
  height: 60px !important;
  line-height: 20px !important;

  border-radius: 4px;

  padding-left: 0.25rem /* 4px */ !important;
  padding-right: 0.25rem /* 4px */ !important;
  padding-top: 1rem /* 16px */ !important;
  padding-bottom: 1rem /* 16px */ !important;

  background: rgba(0, 0, 0, 0)
    linear-gradient(270deg, rgb(171, 102, 255) 0%, rgb(20, 241, 149) 101.39%)
    repeat scroll 0% 0% !important;
  -webkit-transition: all 1000ms ease;
  transition: all 1000ms ease;
  cursor: pointer;
}

.wallet-adapter-button:hover {
  -webkit-transform: translate(0px, -0.2em);
  -ms-transform: translate(0px, -0.2em);
  transform: translate(0px, -0.2em);

  span {
    background-color: transparent;
    color: #fff;
    transition: all 250ms ease-out;
  }
}

.wallet-adapter-modal-wrapper {
  box-sizing: border-box;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  z-index: 1050;
  max-width: 400px;
  border-radius: 10px;
  background-color: white !important;
  color: black !important;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.6);
  font-family: "DM Sans", "Roboto", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  flex: 1;
}

.wallet-adapter-modal-title {
  text-align: center;
  color: black !important;
}

.wallet-adapter-modal-button-close {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 18px;
  right: 18px;
  padding: 12px;
  cursor: pointer;
  background: #1a1f2e;
  border: none;
  border-radius: 50%;
}

.wallet-adapter-modal-button-close:focus-visible {
  outline-color: white;
}

.wallet-adapter-modal-button-close svg {
  fill: black !important;
  transition: fill 200ms ease 0s;
}

.wallet-adapter-modal-button-close:hover svg {
  fill: #777 !important;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.coin--scroll--container::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.coin--scroll--container {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.coin--image--wrapper {
  margin: auto;
  height: 3rem;
  width: 3rem;
}

.coin--name--wrapper {
  overflow: hidden;
  white-space: nowrap;
}

.offset--text--underline::after {
  content: "";
  background: rgba(0, 0, 0, 0)
    linear-gradient(270deg, rgb(171, 102, 255) 0%, rgb(20, 241, 149) 101.39%)
    repeat scroll 0% 0%;
  opacity: 0.7;
  height: 1rem;
  display: block;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0.75rem;
  z-index: -1;
}

.offset--text--underline {
  position: relative;
}

.partner--background {
  // background-image: linear-gradient(
  //     124deg,
  //     hsla(0, 0%, 100%, 0.2) 41%,
  //     hsla(0, 0%, 100%, 0)
  //   ),
  //   linear-gradient(129deg, #f6f063, hsla(0, 0%, 100%, 0) 40%),
  //   linear-gradient(105deg, #ff3873, #711eff 51%, #3fe5ff);
  background: rgba(0, 0, 0, 0)
    linear-gradient(270deg, rgb(171, 102, 255) 0%, rgb(20, 241, 149) 101.39%)
    repeat scroll 0% 0%;
}

.partner--container:hover {
  box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.31);
  opacity: 1;
}

// loading

.loading {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 0.5rem;
  row-gap: 1.5rem;
}

// .loading:after {
//   content: "Logging you in";
//   color: #000;
//   flex: 0 100%;
//   font: 700 1.3rem "Caveat", cursive;
//   text-align: center;
// }

.loading div {
  background-color: #000;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  animation: loading-effect 0.7s cubic-bezier(0.77, 0.8, 0.58, 1) infinite
    var(--delay, 0.1s) alternate-reverse;
}

.loading div:nth-child(2) {
  --delay: 0.4s;
}
.loading div:nth-child(3) {
  --delay: 0.6s;
}
.loading div:nth-child(4) {
  --delay: 0.8s;
}
.loading div:nth-child(5) {
  --delay: 1s;
}

@keyframes loading-effect {
  0% {
    box-shadow: 0 0 4px 1px #fff3;
    opacity: 0.2;
    transform: translateY(3px) scale(1.1);
  }

  100% {
    opacity: 0.8;
    transform: translateY(-3px);
  }
}

@media (max-width: 768px) {
  .wallet-adapter-button--main .wallet-adapter-button {
    margin-left: auto !important;
    margin-right: auto !important;
  }

  .offset--text--underline::after {
    height: 0.5rem;
    bottom: 0.3rem;
  }
}

// other

.dialog--cover {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
}

.swipe--for--more--cta {
  position: relative;
  animation: MoveUpDown-5 2s infinite;
}

@keyframes MoveUpDown-5 {
  0%,
  100% {
    transform: translateY(-10%);
    animation-timing-function: cubic-bezier(0.5, 0, 1, 1);
  }
  50% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}
