/* ./styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

// BACKGROUND
.background {
  position: absolute;
  width: 100vw;
  // height: 100vh;
  z-index: 0;
}

.foreground {
  position: absolute;
  height: 100%;
  width: 100vw;
  z-index: 1;
  background-color: rgb(255, 255, 255, 0.5);
  overflow: auto;
  transform: translate3d(0, 0, 200px);
}

$particleSize: 30vmin;
$animationDuration: 500s;
$amount: 20;
.background span {
  width: $particleSize;
  height: $particleSize;
  border-radius: $particleSize;
  backface-visibility: hidden;
  position: absolute;
  animation-name: move;
  animation-duration: $animationDuration;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  $colors: (#583c87, #e45a84, #ffacac);
  @for $i from 1 through $amount {
    &:nth-child(#{$i}) {
      color: nth($colors, random(length($colors)));
      top: random(100) * 1%;
      left: random(100) * 1%;
      animation-duration: (random($animationDuration * 10) / 10) * 1s + 10s;
      animation-delay: random(($animationDuration + 10s) * 10) / 10 * -1s;
      transform-origin: (random(50) - 25) * 1vw (random(50) - 25) * 1vh;
      $blurRadius: (random() + 0.5) * $particleSize * 0.5;
      $x: if(random() > 0.5, -1, 1);
      box-shadow: ($particleSize * 2 * $x) 0 $blurRadius currentColor;
    }
  }
}

@keyframes move {
  100% {
    transform: translate3d(0, 0, 1px) rotate(360deg);
  }
}

.marquee-container {
  height: 30px;
  overflow: hidden;
  line-height: 30px;

  .marquee {
    top: 0;
    left: 100%;
    width: 100%;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    animation: marquee 10s linear infinite;
  }

  .marquee2 {
    animation-delay: 5s;
  }
  b {
    padding-left: 10px;
  }
}

@keyframes marquee {
  0% {
    left: 100%;
  }
  100% {
    left: -100%;
  }
}

// Image

.image-wrapper {
  margin-bottom: 100px;
}
.image-container {
  // width: 100%;
  // width: 200px;
  height: 500px;
  width: 635px;
  position: relative;
  // z-index:2;
  > div {
    position: unset !important;
  }

  // .image {
  //   object-fit: contain;
  //   width: 100% !important;
  //   position: relative !important;
  //   height: unset !important;
  // }
}

.image-container-2 {
  height: 250px;
  width: 266px;
  position: absolute;
  bottom: -100px;

  right: 0;
  > div {
    position: unset !important;
  }
}
